* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

input, textarea {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    background: url('asset/background-overlay2.jpg') no-repeat;
    background-color: #8d227b;
    background-blend-mode: soft-light;
    opacity: 4;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    text-align: center;
}

header .wrapper-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .wrapper-center h1 {
     color: white;
     text-transform: uppercase;
     font-size: 1.5rem;
     text-shadow: 2px 5px 5px black;
     margin-bottom: 40px;
}

header .wrapper-center img {
    border-radius: 50%;
    border: 7px solid #a72668;
    box-shadow: 0 28px 26px 0px rgba(0, 0, 0, .5);
    transition: transform .5s ease-out;
}

header .wrapper-center img:hover {
    transform: scale(1.1);
}

header .wrapper-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

header .wrapper-center ul li a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-shadow: 2px 5px 5px black;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

header .wrapper-center ul li a:hover {
    border-bottom: 5px solid white;
}

.about-me {
    background: #a72668;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
}

.about-me .wrapper h2 {
    text-shadow: 2px 5px 5px black;
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: 7px solid white;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

.about-me .wrapper p {
    text-shadow: 0 4px 0px black;
    font-size: 18px;
    line-height: 25px;
    padding: 0 35px;
    margin-bottom: 50px;
}

.about-me .wrapper a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 30px;
    border: 3px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #d4448e;
    transition: background .5s ease-out;
}

.about-me .wrapper a:hover {
    background: #a72668;
    box-shadow: 0 5px 22px -5px rgba(0, 0, 0, .3);
}

.skill {
    background: #d4448e;
    color: white;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill .wrapper {
    width: 80%;
}

.skill .wrapper h2 {
    text-shadow: 2px 5px 5px black;
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: 7px solid white;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

.skill .wrapper-skill {
    text-align: left;
    margin-bottom: 10px;
}

.skill .wrapper-skill h5 {
    text-transform: uppercase;
    text-shadow: 0 4px 0px black;
    font-size: 18px;
    margin-bottom: 6px;
    padding-left: 5px;
}

.skill .wrapper-skill .background {
    position: relative;
    width: 100%;
    height: 30px;
    background: white;
}

.skill .wrapper-skill .background .indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    background: #802084;
    z-index: 2;
}

.indicator.html {
    width: 50%;
}

.indicator.css {
    width: 50%;
}

.indicator.english {
    width: 80%;
}

.portfolio {
    background: #a72668;
    color: white;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .wrapper {
    padding: 50px;
}

.portfolio .wrapper h2 {
    text-shadow: 2px 5px 5px black;
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: 7px solid white;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

.portfolio .wrapper .wrapper-portfolio {
    display: grid;
    grid-gap: 30px;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper-portfolio a {
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 0 4px 0px black;
    font-size: 20px;
}

.contact {
    background: #d4448e;
    color: white;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .contact .wrapper {
    width: 80%;
} */

.contact .wrapper h2 {
    text-shadow: 2px 5px 5px black;
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: 7px solid white;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

.contact .wrapper-contact input, .contact .wrapper-contact textarea {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 11px;
    padding: 10px 15px;
    margin-bottom: 18px;
    font-family: sans-serif;
}

.contact .wrapper-contact textarea {
    height: 120px;
}

.contact .wrapper-contact input[type="submit"] {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 11px;
    padding: 10px 60px;
    border: 5px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #a72668;
    display: inline-block;
    width: auto;
    padding-bottom: 23px;
    cursor: pointer;
    transition: background .5s ease-out;
}

.contact .wrapper-contact input[type="submit"]:hover {
    background: #d4448e;
    box-shadow: 0 5px 22px -5px rgba(0, 0, 0, .3);
}

.footer {
    background: white;
    color: black;
    text-align: center;
    padding: 10px 0;
    font-size: x-small;
    /* font-style: italic; */
}